<article class="col-md-3 col-sm-6 isotopeItem <%= genre %> colmd">
    <div class="portfolio-item">
    <img src="<%= artwork_url %>" alt="" />
    <div class="portfolio-desc align-center">
    <div class="folio-info">
    <h5><a href="#track/<%=id%>" class="track-info"> <%= title %> </a></h5>
    <a href="#track/<%=id%>" class="track-info fancybox" title="Track info"><i class="fa fa-link fa-2x"></i></a><br>
    <!-- <a href="<%= id %>" class="fancybox"><i class="fa fa-play fa-2x"></i></a> -->
    </div>                                   
    </div>
    </div>
</article>